body{	
	background-image: url(bg.png);
	text-align: center;
}
.main{
	margin-top: 108px;
	width: 320px;
	height: 370px;
	background-color: white;
	 position: absolute;
	left: 50%;
	box-sizing: border-box;
	margin-left: -150px;
    top: 50%;
    margin-top: -200px;
}

.knopka{
	padding-top: 5px;
	height: 25px;
	width: 150px;
	background-color: #01b3b3;
	margin-left: 30px;
	margin-top: -7px;
	z-index: 1;
}
.header{
	font-size: 12px ;
	text-transform: uppercase;
	color: white;
	font-weight: 750;
	width: 150px;
}
.main_1{
	margin-top: 35px;
	// background-color: red;
	height: 285px;
	width: 260px;
}
.email{
	text-align: left;
	font-weight: 600;
}
.q{
	color:#01b3b3;
}
.choose, .con{
	margin-top: 15px;
	text-align: left;
	font-weight: 400;
}
.last{
	margin-bottom: 35px;
}
.bort{
	background-color: 01bfbf;
}
.ver{
	width: 260px;
	height: 30px;
}
.ver1{
	width: 260px;
	height: 30px;
	margin-bottom: 35px;
}
.reg{
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	font-size: 16px;
}